<md-content style="padding-bottom: 15px;" layout="column">
    <md-content layout-gt-md="row" layout="column">
        <article md-whiteframe="5" flex-gt-md="50">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 translate="create.userGroup"></h2>
                </div>
            </md-toolbar>
            <md-content>
                <div ng-show="userGroupsLoaded()"
                     style="background-color: rgb(76,175,80); height: 5px; width: 100%"></div>
                <md-progress-linear ng-show="!userGroupsLoaded()" md-mode="indeterminate"
                                    class="md-accent"></md-progress-linear>

                <div class="card-container">
                    <ul class="card-list">
                        <li class="card-item" ng-repeat="userGroup in userGroups  | orderBy:'name'">
                            <div class="card"
                                 ng-class="{'card-selected': selectedUserGroup(userGroup.id)}"
                                 ng-click="selectUserGroup(userGroup.id)">
                                <div class="card-con">
                                    <p class="card-title">{{userGroup.name}}</p>

                                    <p class="card-des">SSID:
                                        {{userGroup.ssids|ssidStringFromArray}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </md-content>
        </article>

        <article md-whiteframe="5" flex>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{'create.single' | translate}}">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 translate="create.userDetails"></h2>
                        </div>
                    </md-toolbar>
                    <md-content>
                        <div layout="row" class="md-padding" layout-wrap style="padding-bottom: 0">
                            <div flex="33">
                                <md-checkbox ng-model="username.name">
                                    {{ 'create.username' | translate }}
                                </md-checkbox>
                            </div>
                            <div flex="33">
                                <md-checkbox ng-disabled="disableEmail" ng-model="username.email">
                                    {{ 'create.email' | translate }}
                                </md-checkbox>
                            </div>
                            <div flex="33">
                                <md-checkbox ng-disabled="disablePhone" ng-model="username.phone">
                                    {{ 'create.phone' | translate }}
                                </md-checkbox>
                            </div>
                        </div>
                    </md-content>
                    <md-content layout-padding layout="column" style="padding-top: 0;">
                        <div layout-gt-sm"row" layout="column">
                            <md-input-container class="md-block flex-gt-sm" ng-show="username.name">
                                <label for="userName" translate="create.username"></label>
                                <input id="userName" type="text" ng-model="user.userName" md-maxlength="32"/>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row" layout="column">
                            <md-input-container class="md-block flex-gt-sm">
                                <label for="firstName" translate="create.firstName"></label>
                                <input id="firstName" type="text" ng-model="user.firstName"/>
                            </md-input-container>
                            <md-input-container class="md-block flex-gt-sm">
                                <label for="lastName" translate="create.lastName"></label>
                                <input id="lastName" type="text" ng-model="user.lastName"/>
                            </md-input-container>
                        </div>

                        <md-input-container class="md-block flex-gt-sm" ng-show="username.email">
                            <label for="email">
                                <span ng-show="user.deliverMethod == 'EMAIL' || user.deliverMethod == 'EMAIL_AND_SMS'" style="color:rgba(33, 150, 243, 0.75)" translate="create.email"><span style="color:red">*</span></span>
                                <span ng-hide="user.deliverMethod == 'EMAIL' || user.deliverMethod == 'EMAIL_AND_SMS'" translate="create.email"></span>
                            </label>
                            <input id="email" type="email"
                                   ng-model="user.email" ng-pattern="/^.+@.+\..+$/"
                                   ng-required="user.deliverMethod == 'EMAIL' || user.deliverMethod == 'EMAIL_AND_SMS'"/>
                        </md-input-container>

                            <md-input-container class="md-block flex-gt-sm createPage" ng-show="username.phone" style="margin-top: 0;padding-top: 0;">
                                <span ng-show="username.phone" style="position: absolute; bottom: 5px; left: 3px;">
                                    <span ng-show="user.deliverMethod == 'SMS' || user.deliverMethod == 'EMAIL_AND_SMS'" style="color:rgba(33, 150, 243, 0.75)" translate="create.phone"><span style="color:red">*</span></span>
                                    <span ng-hide="user.deliverMethod == 'SMS' || user.deliverMethod == 'EMAIL_AND_SMS'" style="color: rgba(0,0,0,0.26);" translate="create.phone"></span>
                                </span>
                                <input style="padding-left: 50px;" aria-label='phone number'
                                       type="tel" name="phone" ng-model="user.phone" id="phoneNumber"
                                       ng-intl-tel-input
                                       ng-required="user.deliverMethod == 'SMS' || user.deliverMethod == 'EMAIL_AND_SMS'">
                            </md-input-container>

                        <md-input-container class="md-block">
                            <label for="organization" translate="create.organization"></label>
                            <input id="organization" ng-model="user.organization"/>
                        </md-input-container>


                        <md-input-container class="md-block flex-gt-sm">
                            <label for="purpose" translate="create.purpose"></label>
                            <input id="purpose" class="ng-pristine ng-untouched ng-valid ng-empty"
                                   ng-model="user.purpose"/>
                        </md-input-container>
                        <md-input-container class="md-block flex-gt-sm">
                            <label><span translate="deliverMethod"></span>:</label>
                            <md-select ng-model="user.deliverMethod" ng-selected="user.deliverMethod">
                                <md-option value="NO_DELIVERY" class="ng-binding ng-scope" translate="deliverMethod.noDelivery">
                                </md-option>

                                <md-option value="EMAIL"
                                           class="ng-binding ng-scope" translate="deliverMethod.email">
                                </md-option>

                                <md-option value="SMS"
                                           class="ng-binding ng-scope" translate="deliverMethod.sms" ng-show="hmngType == 'public'">
                                </md-option>

                                <md-option value="EMAIL_AND_SMS"
                                           class="ng-binding ng-scope" translate="deliverMethod.smsAndEmail" ng-show="hmngType == 'public'">
                                </md-option>

                            </md-select>
                        </md-input-container>
                        <div class="clearfix">
                            <md-button ng-click="reset('single')" translate="button.reset" aria-label="reset"></md-button>
                            <md-button ng-disabled="isNotValid('single')" class="md-primary md-raised" aria-label="create"
                                       ng-click="save('single')" translate="button.create">

                            </md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="{{'create.bulk' | translate}}">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 translate="create.bulkParameters"></h2>
                            </div>
                        </md-toolbar>
                    <md-content>
                        <md-content layout-padding layout="column" style="padding-top: 0;">

                            <md-input-container class="md-block flex-gt-sm">
                                <label for="prefix" translate="create.prefix"></label>
                                <input id="prefix" class="ng-pristine ng-untouched ng-valid ng-empty" type="text"
                                       ng-class="{invalid: bulk.prefixIsNotValid}"
                                       ng-model="bulk.prefix"  md-maxlength="26"/>
                            </md-input-container>

                            <md-input-container class="md-block flex-gt-sm">
                                <label for="example" class="ng-binding"><span translate="create.example"></span>:</label>

                                <input disabled="" class="ng-pristine ng-untouched ng-valid ng-empty"
                                       id="example" type="text"
                                       value="{{bulk.prefix}}_00001"/>
                            </md-input-container>


                            <md-input-container class="md-block flex-gt-sm">
                                <label for="numberOfAccounts" class="ng-binding" translate="create.numberOfAccounts">
                                    (1-{{bulk.maxNumberOfAccounts}}):</label>

                                <input class="ng-pristine ng-untouched ng-valid ng-empty"
                                       ng-model="bulk.numberOfAccounts" id="numberOfAccounts" type="number" min="0"
                                       max="{{bulk.maxNumberOfAccounts}}"/>
                            </md-input-container>
                            </div>
                            <div class="clearfix">
                                <md-button ng-click="reset('bulk')" translate="button.reset" aria-label="reset"></md-button>
                                <md-button ng-disabled="isNotValid('bulk')" class="md-raised md-primary "
                                           ng-click="save('bulk')" translate="button.create" aria-label="create">
                                </md-button>
                            </div>
                        </md-content>

                    </md-content>
                </md-tab>
            </md-tabs>
        </article>
    </md-content>
    <md-content layout="column" ng-show="displayBulkResult('bulk')">
        <article>
            <div md-whiteframe="5">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <span><span translate="create.createdAccounts"></span>: {{createdAccountsFinished}} / {{bulk.numberOfAccounts}}</span>
                        <span flex></span>
                        <span style="float: right"><span translate="create.success"></span>: {{bulkResult.length}} | <span translate="create.errors"></span> {{bulkError.length}}</span>
                    </div>
                </md-toolbar>
                <md-progress-linear md-mode="determinate" class="md-accent"
                                    value="{{(createdAccountsFinished/bulk.numberOfAccounts)*100}}">
                </md-progress-linear>
                <md-content>
                    <md-button class="md-primary md-raised" ng-controller="ModalCtrl"
                               ng-click="open('exportBulk', {credentials: bulkResult, exportFields: bulkResultHeaders})"
                               ng-disabled="! createdAccountsFinished || createdAccountsFinished != bulk.numberOfAccounts"
                            translate="button.download" aria-label="download">

                    </md-button>

                    <md-table-container>
                        <table md-table>
                            <thead md-head md-order="table.order">
                            <tr md-row>
                                <th md-column ng-repeat="header in bulkResultHeaders">
                                    {{header}}
                                </th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row
                                ng-repeat="credential in bulkResult | limitTo: itemsByPage: (currentPage - 1) * itemsByPage">
                                <td md-cell ng-repeat="field in credential">
                                    <div>
                                        {{field}}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="itemsByPage" md-limit-options="[10, 20, 50, 100]"
                                         md-page="currentPage"
                                         md-total="{{createdAccountsFinished}}"></md-table-pagination>
                </md-content>
            </div>
        </article>
        <article>
            <div md-whiteframe="5">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 translate="create.bulkErrors"></h2>
                    </div>
                </md-toolbar>
                <md-content>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column style="width: 30%">
                                    {{"create.account" | translate}}
                                </th>
                                <th md-column>
                                    {{"create.error" | translate}}
                                </th>
                            </tr>
                            </thead>
                            <tbody md-body style="width: 70%">
                            <tr md-row
                                ng-repeat="error in bulkError | limitTo: errorByPage: (errorPage - 1) * errorByPage">
                                <td md-cell>
                                    {{error.account}}
                                </td>
                                <td md-cell>
                                    {{error.message}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="errorByPage" md-limit-options="[10, 20, 50, 100]"
                                         md-page="errorPage"
                                         md-total="{{bulkError.length}}"></md-table-pagination>
                </md-content>
            </div>
        </article>
    </md-content>
</md-content>