<div class="pt-r">
    <div id="container">
        <div class="line clearfix">
            <div class="view-section clearfix">
                <div class="leftNavIconMain" style="width: 220px; margin-right: 10px; height: 100%; float: left;">
                    <div class="filterArea leftNavItem show" style="margin-top: 35px">
                        <div class="filter-panel clearfix">
                            <div class="filter-con-header">
                                <div class="filter-con-title" style='width:100%'> Filter By
                                    <div class="ui-filter-categ">
                                        <h3 class="ui-filter-categ-tle">User Type</h3>

                                        <div class="ui-filter-dtl-area">
                                            <div class="ui-filter-dtl">
                                                <ul ng-controller="userTypesCtrl">
                                                    <li ng-repeat="userType in userTypes">
                                                        <label class="checkbox">
                                                            <input type="checkbox" data-name={{userType.name}}
                                                                   class="J-check-any" ng-model="userType.selected"
                                                                   ng-change="change()">
                                                            <span class="lbl fn-ellipsis" title={{userType.name}}>{{userType.name}}</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="ui-filter-categ-tle">User Group</h3>

                                        <div class="ui-filter-dtl-area">
                                            <div class="ui-filter-dtl">
                                                <ul ng-class="{'entity-loading': !userGroups.isLoaded()}"
                                                    ng-controller="userGroupsCtrl">
                                                    <li ng-repeat="userGroup in userGroups">
                                                        <label class="checkbox">
                                                            <input type="checkbox" data-name={{userGroup.name}}
                                                                   class="J-check-any" ng-model="userGroup.selected"
                                                                   ng-change="change()">
                                                            <span class="lbl fn-ellipsis" title={{userGroup.name}}>{{userGroup.name}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-main">
                    <div class="dashboard-main">
                        <div class="clearfix">
                            <div class="line clearfix.pt-r">
                                <div class="entity-timeline-loading">
                                    <div class="clearfix">
                                        <div class="entity-timeline-column entity-timeline-choose"
                                             style=" width: 100%;">
                                            <div class="clearfix">
                                                <div class="entity-timeline-column">
                                                    <div class="entity-timeline-show-label">Show</div>
                                                </div>
                                                <div class="entity-timeline-column">
                                                    <div class="dropdown">
                                                        <button id="timeline-button" type="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                            <span class="init-text" id="span-range">Day</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="timeline-button"
                                                            id="myLoc">
                                                            <li onclick="timelineRange(0, 'Day')">
                                                                <span>Day</span>
                                                            </li>
                                                            <li onclick="timelineRange(0, 'Week')">
                                                                <span>Week</span>
                                                            </li>
                                                            <li onclick="timelineRange(0, 'Month')">
                                                                <span>Month</span>
                                                            </li>
                                                            <li onclick="timelineRange(0, 'Year')">
                                                                <span>Year</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-timeline-column">
                                                    <div class="entity-timeline-show-range">Select Range</div>
                                                </div>
                                                <div class="entity-timeline-column">
                                                    <div class="entity-timeline-show-tab entity-radioset-list">
                                                        <ul id="timeline-range">
                                                            <li class="timeline-range" onclick="changeRange('Day', 1)"
                                                                id="timeline-1">1H
                                                            </li>
                                                            <li class="timeline-range entity-radioset-cur"
                                                                onclick="changeRange('Day', 2)" id="timeline-2">2H
                                                            </li>
                                                            <li class="timeline-range" onclick="changeRange('Day', 8)"
                                                                id="timeline-8">8H
                                                            </li>
                                                            <li class="timeline-range" onclick="changeRange('Day', 0)"
                                                                id="timeline-0">Last 24H
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix" style=" height:200px; min-height: 100px;)">
                                            <div class="entity-timeline-bar-time" id=" timeline"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="entity-timeline-show-time">Showing data from
                                <span id="span-from-date"></span>
                                <span style="font-weight: normal;"> to </span>
                                <span id="span-to-date"></span>
                            </div>
                            <div class="entity-page-body-top-border">
                                <div class="entity-page-body-top-border-arrow"></div>
                            </div>

                            <div class="dgrid dgrid-grid ui-widget dgrid-autoheight">
                                <div class="dgrid-header dgrid-header-row ui-widget dgrid-autoheight" role="grid">
                                    <table st-table="credentials" class="dgrid-row-table"
                                           ng-controller="credentialsCtrl">
                                        <thead>
                                        <tr>
                                            <th class="dgrid-cell dgrid-column-0 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container"></div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-1 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">UserName</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-2 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Email</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-3 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Phone</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-4 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Organization</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-5 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Policy</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-6 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">User Type</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-7 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Creation Time</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-8 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Activation Time</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-9 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Expiration Time</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-10 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Group ID</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-11 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">ID</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-12 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Life Time</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-13 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">SSIDs</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                            <th class="dgrid-cell dgrid-column-14 dgrid-selector"
                                                role="columnheader">
                                                <div class="dgrid-resize-header-container">Visit Purpose</div>
                                                <div class="dgrid-resize-handle resizeNode-1"></div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="credential in credentials">
                                            <td></td>
                                            <td>{{credential.userName}}</td>
                                            <td>{{credential.email}}</td>
                                            <td>{{credential.phone}}</td>
                                            <td>{{credential.organization}}</td>
                                            <td>{{credential.policy}}</td>
                                            <td>{{credential.credentialType}}</td>
                                            <td>{{credential.createTime}}</td>
                                            <td>{{credential.activeTime}}</td>
                                            <td>{{credential.expireTime}}</td>
                                            <td>{{credential.groupId}}</td>
                                            <td>{{credential.id}}</td>
                                            <td>{{credential.lifeTime}}</td>
                                            <td>{{credential.ssids}}</td>
                                            <td>{{credential.visitPurpose}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>