<nav>

</nav>
<section>
    <article class="grid_50p">
        <div class="inside" md-whiteframe="1">
            <h3>User Group</h3>

            <div class="ui-filter-dtl-area">
                <ul class="card-list clearfix line">
                    <li class="card-item" ng-repeat="userGroup in userGroups  | orderBy:'name'">
                        <div class="card"
                             ng-class="{'card-selected': selectedUserGroup(userGroup.id)}"
                             ng-click="selectUserGroup(userGroup.id)">
                            <div class="card-con">
                                <p class="card-title">{{userGroup.name}}</p>

                                <p class="card-des">SSID:
                                    {{userGroup.ssids|ssidStringFromArray}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </article>
    <article class="grid_50p">
        <div class="inside" md-whiteframe="1">
            <h3>File Upload</h3>

            <div class="line clearfix">

                <div class="line clearfix ng-scope">
                    <div class="grid_4 first column" style="line-height: 30px;">
                        <label for="file" class="ng-binding">CSV File:</label>
                    </div>
                    <div class="last column">
                        <input type="file" id="file" file-change="handler($event,files)"
                               ng-model="csvFile"/>
                    </div>
                </div>
                <div class="line clearfix ng-scope">
                    <div class="grid_4 first column" style="line-height: 30px;">
                        <label for="delimiter" class="ng-binding">CSV Delimiter:</label>
                    </div>
                    <div class="last column">
                        <input id="delimiter" class="input_5 ng-pristine ng-untouched ng-valid ng-empty"
                               style="height: 30px;" ng-model="delimiter" type="text" placeholder=",">
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="grid_100p">
        <div class="inside" md-whiteframe="1">
            <h3>File Preview</h3>

            <div class="line clearfix">
                <span>The preview table is only showing the 10 first rows.</span>

                <div class="line clearfix">
                    <div>
                        <table class="dgrid-row-table table table-condensed">
                            <thead>
                            <tr>
                                <th ng-repeat="header in csvHeader">{{header}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in csvRows | limitTo:10">
                                <td ng-repeat="column in row track by $index">{{column}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="grid_100p">
        <div class="inside" md-whiteframe="1">
            <h3>Fields Matching</h3>

            <div class="line clearfix ng-scope">
                <div class="grid_4 first column">
                    <label for="email" class="ng-binding">Email:</label>
                </div>
                <div class="last column">
                    <select class="input_5 ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
                            style="height: 30px;" ng-model="importUsers.email">
                        <option ng-repeat="field in fields track by $index" value={{$index}}
                                class="ng-binding ng-scope">{{field}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="line clearfix ng-scope">
                <div class="grid_4 first column">
                    <label for="phone" class="ng-binding">Phone:</label>
                </div>
                <div class="last column">
                    <select class="input_5 ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
                            style="height: 30px;" ng-model="importUsers.phone">
                        <option ng-repeat="field in fields track by $index" value={{$index}}
                                class="ng-binding ng-scope">{{field}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="line clearfix ng-scope">
                <div class="grid_4 first column">
                    <label for="organization" class="ng-binding">Organization:</label>
                </div>
                <div class="last column">
                    <select class="input_5 ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
                            style="height: 30px;" ng-model="importUsers.organization">
                        <option ng-repeat="field in fields track by $index" value={{$index}}
                                class="ng-binding ng-scope">{{field}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="line clearfix ng-scope">
                <div class="grid_4 first column">
                    <label for="purpose" class="ng-binding">Purpose of Visit:</label>
                </div>
                <div class="last column">
                    <select class="input_5 ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
                            style="height: 30px;" ng-model="importUsers.purpose">
                        <option ng-repeat="field in fields track by $index" value={{$index}}
                                class="ng-binding ng-scope">{{field}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="line clearfix">
                <div class="grid_4 first column">
                    <label for="deliverMethod">Deliver Method:</label>
                </div>
                <div class="last column">
                    <select class="input_5 ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
                            style="height: 30px;" id="deliverMethod" ng-model="importUsers.deliverMethod"
                            ng-selected="user.deliverMethod">
                        <option value="NO_DELIVERY" class="ng-binding ng-scope">No delivery
                        </option>

                        <option value="EMAIL"
                                class="ng-binding ng-scope">Email
                        </option>

                        <option value="SMS"
                                class="ng-binding ng-scope">Sms
                        </option>

                        <option value="EMAIL_AND_SMS"
                                class="ng-binding ng-scope">Email and sms
                        </option>

                    </select>
                </div>
            </div>
            <div class="clearfix">
                <button ng-click="reset()">Reset</button>
                <input ng-disabled="isNotValid()" type="button" class="button"
                       ng-click="create()"
                       value="Create">
            </div>
        </div>
    </article>
    <article class="grid_100p">
        <div class="inside" md-whiteframe="1">
            <h3>Import Result</h3>
            <button class='ui-button ui-button-dBlue ui-button-small' ng-controller="ModalCtrl"
                    ng-click="open('exportBulk')" style="margin: 5px 0">Export
            </button>
            <uib-progressbar max="max" value="(createdAccountsFinished/numberOfAccounts)*100"><span
                    style="color:white; white-space:nowrap;">{{createdAccountsFinished}} / {{numberOfAccounts}}</span>
            </uib-progressbar>

            <div style="position: relative; min-height: 50px;">
                <div class="dgrid dgrid-grid ui-widget dgrid-autoheight">
                    <div class="dgrid-header dgrid-header-row ui-widget dgrid-autoheight" role="grid">
                        <table st-safe-src="credentialsMaster" st-table="credentials"
                               class="dgrid-row-table table table-condensed">
                            <thead>
                            <tr>
                                <th ng-repeat="header in bulkResultHeaders"
                                    class="dgrid-cell dgrid-column-1 dgrid-selector"
                                    role="columnheader">
                                    <div class="dgrid-resize-header-container">{{header}}</div>
                                    <div class="dgrid-resize-handle resizeNode-1"></div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="credential in bulkResult">
                                <td ng-repeat="field in credential">
                                    <div>{{field}}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="inside" md-whiteframe="1">
            <h3>Bulk Errors</h3>

            <div ng-repeat="error in bulkError">{{error}}</div>
        </div>
    </article>
</section><div class="pt-r">
