doctype html5
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel='stylesheet' href='/css/ah-tm.tags.css')
        link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
        script(src="/bower_components/angular/angular.min.js")
        script(src="/bower_components/angular-aria/angular-aria.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-material/angular-material.js")
        script(src="/bower_components/angular-messages/angular-messages.js")

        script(src="/web-app/ng-sanitize.js")

        script(src="/web-app/login.js")

        link(rel='stylesheet' href='/css/ah-tm.login.css')

    body(ng-app="login")
        div(style="border-top: 2px solid rgb(255, 195, 15);" class="user-home-wrap" ng-controller="LoginCtrl")
        img(src="/images/login_page_logo.png" alt="Aerohive" class="ah-logo")
        div.page-footer
            span(style="border: none;") © 2016 Aerohive Networks. All Rights Reserved.


        div(layout="column" layout-gt-sm="row" layout-align="center center")

            div(style="height: 500px;width: 450px;" layout-margin)
                div.inside(md-whiteframe="5" style="height: 100%, width: 100%")
                    md-toolbar
                        div.md-toolbar-tools
                            h2 Access with your <br>HMNG Account?
                    md-content(layout="column")
                        form(id="OAuth" action="https://cloud.aerohive.com/thirdpartylogin" method="get")
                            input(type="hidden" name="client_id" value= client_id)
                            input(type="hidden" name="redirect_uri" value= redirect_uri)
                            div(style="margin: 30px;text-align: left;")
                                span You can use the OAuth authentication system to use this application with your HiveManager NG account.
                            div(style="margin: 30px;text-align: left;")
                                span="You can find some information about OAuth on the "
                                a.link(href="https://en.wikipedia.org/wiki/OAuth" target="_blank") OAuth Wiki page
                                span .
                            div(style="width: 100%; text-align: center;")
                                md-button.md-raised.md-primary(type="submit") Go to HMNG Authentication page


            div(style="height: 500px;width: 450px;" layout-margin)
                    div.inside(md-whiteframe="5" style="height: 100%, width: 100%")
                        md-tabs(md-dynamic-height md-border-bottom)
                            md-tab(label="Cloud")
                                md-toolbar
                                    div.md-toolbar-tools
                                        h2 Already have your<br> API Access Token?
                                md-content(layout="column" layout-padding)
                                    md-input-container
                                        label(for="vpcUrlOl") Server
                                        md-select(id="vpcUrlOl" name="vpcUrl" ng-model="vpcUrl")
                                            md-option(value="cloud-va.aerohive.com") cloud-va.aerohive.com
                                            md-option(value="cloud-ie.aerohive.com") cloud-ie.aerohive.com
                                    form(id="ATOl" action="/" method="post")
                                        input(type="hidden" name="vpcUrl" value='{{vpcUrl}}')
                                        md-input-container.md-block.flex-gt-sm
                                            label(for="OwnerIDOl") Owner Id
                                            input(required="required" autocorrect="off" autocapitalize="none" id="ownerIDOl" name="ownerID" type="text")
                                        md-input-container.md-block.flex-gt-sm
                                            label(for="accessTokenOl") Access Token
                                            input(required="required" id="accessTokenOl" name="accessToken" type="text")
                                        div(style="float: right")
                                            md-button(ng-click="reset()") Reset
                                            md-button.md-raised.md-primary(type="submit") Connect
                                    div
                                        span='For more information, a Quick Start Guide is available '
                                        a.link(href="/howto/" target='_blank') here
                            md-tab(label="On Premise" ng-disabled='true')
                                md-toolbar
                                    div.md-toolbar-tools
                                        h2 You have the HiveManager Virtual Appliance?
                                md-content(layout="column" layout-padding)
                                    span This server has to be able to reach the HiveManager NG VA.
                                    md-input-container(style="padding-bottom: 0;margin-bottom: 0;")
                                        md-checkbox(id="rejectUnauthorizedOp" name="rejectUnauthorized" ng-model="tlsOp" style="margin-bottom: 0;") Validate HTTPS certificate
                                    form(id="ATOp" action="/op" method="post")
                                        input(type="hidden" name="rejectUnauthorized" value='{{tlsOp}}')
                                        md-input-container.md-block.flex-gt-sm
                                            label(for="vpcUrlOp") HiveManager NG VA hostname
                                            input(required="required" autocorrect="off" autocapitalize="none" id="vpcUrlOp" name="vpcUrl" type="text")
                                        md-input-container.md-block.flex-gt-sm
                                            label(for="OwnerIDOp") Owner Id
                                            input(required="required" autocorrect="off" autocapitalize="none" id="ownerIDOp" name="ownerID" type="text")
                                        md-input-container.md-block.flex-gt-sm
                                            label(for="accessTokenOp") Access Token
                                            input(required="required" id="accessTokenOp" name="accessToken" type="text")
                                        div(style="float: right")
                                            md-button(ng-click="reset()") Reset
                                            md-button.md-raised.md-primary(type="submit") Connect
                                    div
                                        span='For more information, a Quick Start Guide is available '
                                        a.link(href="/howto/" target='_blank') here



