doctype html5
html
    head
        title= title

        link(rel='stylesheet' href='/css/font-awesome.min.css')
        link(rel='stylesheet' href='/css/ah-tm.dashboard.css')
        link(rel='stylesheet' href='/css/ah-tm.dropdown.css')
        link(rel='stylesheet' href='/css/ah-tm.sizes.css')
        link(rel='stylesheet' href='/css/ah-tm.tags.css')
        link(rel='stylesheet' href='/css/ah-tm.cards.css')
        link(rel='stylesheet' href='/css/ah-tm.header.css')
        link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
        link(rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css")
        link(rel='stylesheet' href='/css/ah-tm.md-table.css')
        link(rel='stylesheet' href='/css/ah-tm.md-list.css')
        script(src="/bower_components/angular/angular.min.js")
        script(src="/bower_components/angular-aria/angular-aria.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-material/angular-material.js")
        script(src="/bower_components/angular-messages/angular-messages.js")
        script(src="/bower_components/angular-material-data-table/dist/md-data-table.min.js")
        script(src="/bower_components/angular-route/angular-route.min.js")
        script(src="/bower_components/angular-bootstrap/ui-bootstrap.js")

        script(src="/web-app/app.js")
        script(src="/web-app/routes.js")
        script(src="/web-app/filters/filters.js")
        script(src="/web-app/create/controller.js")
        script(src="/web-app/create/service.js")
        script(src="/web-app/credentials/controller.js")
        script(src="/web-app/credentials/service.js")
        script(src="/web-app/import/controller.js")
        script(src="/web-app/import/service.js")
        script(src="/web-app/monitor/controller.js")
        script(src="/web-app/monitor/service.js")
        script(src="/web-app/ng-sanitize.js")
        script(src="/bower_components/ng-csv/build/ng-csv.min.js")
        block include

    body(ng-app="identity")
        div.modal.fade.bs-example-modal-lg(ng-controller="ModalCtrl")
            script(type="text/ng-template" id="modalAboutContent.html")
                md-dialog(aria-label="List dialog")
                    md-toolbar
                        div.md-toolbar-tools
                            h2Account details
                    md-dialog-content
                        div.md-dialog-content
                            table
                                tbody
                                    tr
                                        th(style="padding: 5px 10px;") HMNG Server:
                                        td(style="padding: 5px 10px;")= server
                                    tr
                                        th(style="padding: 5px 10px;") Owner ID:
                                        td(style="padding: 5px 10px;")= ownerId
                                    tr
                                        th(style="padding: 5px 10px;") Access Token:
                                        td(style="padding: 5px 10px;")= accessToken
                    md-dialog-actions(layout="row")
                        md-button(ng-click="close()") Close


        header(ng-controller="HeaderCtrl")
            div.head-inner
                h1.logo
                    img(src="/images/logo_nav.png" alt="Aerohive")
                div.head-button
                    ul.head-nav
                        li(ng-class="{cur: nav.isActive('monitor')}")
                            a(href="#/monitor/")
                                i.fa.fa-signal.fa-lg
                                span Monitor
                        li(ng-class="{cur: nav.isActive('credentials')}")
                            a(href="#/credentials/")
                                i.fa.fa-database.fa-lg
                                span Credentials
                        li(ng-class="{cur: nav.isActive('create')}")
                            a(href="#/create/single")
                                i.fa.fa-plus.fa-lg
                                span Create
                        li(ng-class="{cur: nav.isActive('import')}")
                            a(href="#/import/")
                                i.fa.fa-download.fa-lg
                                span Import
                div.head-button.hdrOptions
                    ul.user-list
                        li.user-list-item-first(ng-controller="ModalCtrl" ng-click="open('about')") Account Details
                        li
                            a(href="/logout/") Logout


        div.clearfix(id="main")
            ng-view
