doctype html5
html
    head
        title= title
        link(rel='stylesheet' href='/css/font-awesome.min.css')
        link(rel='stylesheet' href='/css/ah-styles.min.css')
        link(rel='stylesheet' href='/css/ah-tm.dashboard.css')
        link(rel='stylesheet' href='/css/borderContainer.css')
        link(rel='stylesheet' href='/js/bootstrap.min.js')
        script(src="/web-app/angular.js")
        script(src="/web-app/smart-table.js")
        script(src="/web-app/angular-route.js")
        script(src="/web-app/ui-bootstrap.js")
        script(src="/web-app/app.js")
        script(src="/web-app/ng-sanitize.js")
        script(src="/web-app/ng-csv.js")
        block include

    body.claro.fullaccess(ng-app="identity")
        div.modal.fade.bs-example-modal-lg(ng-controller="ModalCtrl")
            script(type="text/ng-template" id="modalAboutContent.html")
                div.modal-header
                    h4.modal-title Account details
                div.modal-body
                    table(style="text-align: left;")
                        tbody
                            tr
                                th(style="padding: 5px 10px;") HMNG Server:
                                td(style="padding: 5px 10px;")= server
                            tr
                                th(style="padding: 5px 10px;") Owner ID:
                                td(style="padding: 5px 10px;")= ownerId
                            tr
                                th(style="padding: 5px 10px;") Access Token:
                                td(style="padding: 5px 10px;")= accessToken
                div.modal-footer
                    a(class="btn btn-primary" ng-click="close()") Close

        div.header(id="header" ng-controller="HeaderCtrl")
            div.head-inner
                h1.logo
                    img.app-logo(src="/images/logo_nav.png" alt="Aerohive")
                div.login-area(id="appHeader")
                    ul.head-nav
                div.login-area
                    ul.head-nav
                        li(class = "nav-item" ng-class="{cur: nav.isActive('credentials')}")
                            a.nav-dashboard(href="#/credentials/") Credentials
                        li(class = "nav-item" ng-class="{cur: nav.isActive('create')}")
                            a.nav-dashboard(href="#/create/single") Create
                        li(class = "nav-item" ng-class="{cur: nav.isActive('import')}")
                            a.nav-dashboard(href="#/import/") Import
                    div.head-options.hdrOptions
                         div.ah-navsprite-icons.ah-navsprite-user
                            div.head-sta-item.sta-user.hdrUser
                                div.sta-item-con
                                    div.sta-item-con-arrow
                                    ul.user-list
                                        li.user-list-item-first(ng-controller="ModalCtrl" ng-click="open('about')") Account Details
                                        li
                                            a(href="/logout/") Logout
                                span.sta-item-bridge
            div.head-bottom
                div.sub-tabs
                    ul.sub-create(ng-show="nav.isActive('create')")
                        li(ng-class="{cur: subnav.isActive('single')}")
                            a(href="#/create/single") Single Account
                            span.arrow
                        li(ng-class="{cur: subnav.isActive('bulk')}")
                            a(href="#/create/bulk") Bulk Accounts
                            span.arrow

        div.clearfix(id="main")
            ng-view
