<nav>
    <div class="top-button" style="top:2px">
        <md-button ng-controller="ModalCtrl" ng-click="open('export')">
            <i class="fa fa-recycle"></i>
            Renew
        </md-button>
        <md-button ng-click="deleteCredentials()">
            <i class="fa fa-minus"> </i>
            Remove
        </md-button>
        <md-button ng-click="export()">
            <i class="fa fa-upload"></i>
            Export
        </md-button>
        <a href="#/create/single" class="table-action-icons table-add" ng-show="nav.isActive('import')">
            <button>
                <i class="fa fa-download"></i>
                Import
            </button>
        </a>
        <md-button ng-click="refresh()">
            <i class="fa fa-refresh"></i>
            Refresh
        </md-button>
    </div>
</nav>


<div class="main-container">
    <aside>
        <article class="grid">
            <div class="inside" md-whiteframe="5">
                <div style='width:100%'>
                    <div class="title">
                        Filter By
                    </div>
                    <div>
                        <h3>User Type</h3>

                        <div>
                            <div>
                                <ul>
                                    <li ng-repeat="userType in userTypes | orderBy:'name'">
                                        <label class="checkbox">
                                            <input type="checkbox" data-name={{userType.name}}
                                                   class="J-check-any" ng-model="userType.selected"
                                                   ng-change="change()">
                                            <span class="lbl fn-ellipsis" title={{userType.name}}>{{userType.name | userType}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h3>User Group</h3>

                        <div>
                            <div>
                                <ul ng-show="userGroupsLoaded()">
                                    <li ng-repeat="userGroup in userGroups | orderBy:'name'">
                                        <label class="checkbox">
                                            <input type="checkbox" data-name={{userGroup.name}}
                                                   class="J-check-any" ng-model="userGroup.selected"
                                                   ng-change="change()">
                                            <span class="lbl fn-ellipsis"
                                                  title={{userGroup.name}}>{{userGroup.name}}</span>
                                        </label>
                                    </li>
                                </ul>
                                <ul ng-show="!userGroupsLoaded()" style="padding: 0;">
                                    <div layout="row" layout-sm="column" layout-align="space-around">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article>

        </article>
    </aside>
    <section>
        <article class="grid_100p">
            <div class="inside" md-whiteframe="5">
                <div class="title">
                    <span>Number of accounts: {{credentialsMaster.length}}</span>
                </div>
                <div ng-show="credentialsLoaded()"
                     style="background-color: rgb(76,175,80); height: 5px; width: 100%"></div>
                <md-progress-linear ng-show="!credentialsLoaded()" md-mode="indeterminate"></md-progress-linear>
                <div class="clearfix">
                    <div style="position: relative; min-height: 150px;">
                        <div ng-show="!credentialsLoaded()"
                             style="position: absolute;height: 100%;width: 100%;background-color: rgba(250,250,250,0.7);vertical-align: middle;">
                        </div>
                        
                        
                        <md-table-container>
                            <table md-table md-progress="requestForCredentials">
                                <thead md-head>
                                <tr md-row>
                                    <th md-column style="width: 5%">
                                        <div>
                                            <md-checkbox ng-change="selectAll()" ng-model="selectAllChecked" class="md-primary" aria-label="Select All">
                                        </div>
                                    </th>
                                    <th md-column style="width: 20%">
                                        <div>UserName</div>
                                    </th>
                                    <th md-column style="width: 20%">
                                        <div>Email</div>
                                    </th>
                                    <th md-column style="width: 20%">
                                        <div>Phone</div>
                                    </th>
                                    <th md-column style="width: 10%">
                                        <div>User Group</div>
                                    </th>
                                    <th md-column style="width: 5%">
                                        <div>Type</div>
                                    </th>
                                    <th md-column style="width: 20%">
                                        <div>Expiration Time</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-class="{'tm-selected': credential.selected}" ng-click="selectOne(credential)"
                                        ng-repeat="credential in credentials | orderBy: 'userName' | limitTo: itemsByPage: (currentPage - 1) * itemsByPage">
                                    <td md-cell>
                                        <div>
                                            <md-checkbox ng-model="credential.selected" class="md-primary"
                                                         ng-click="selectOne(credential)" data-name={{credential.id}} aria-label="Select Credential">
                                        </div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.userName}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.email}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.phone}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.groupName}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.credentialType | userType}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.expireTime | date : 'short' }}</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="itemsByPage" md-limit-options="[10, 20, 50, 100 ]"
                                             md-page="currentPage"
                                             md-total="{{devices.length}}"></md-table-pagination>
                    </div>
                    <div class="grid-mark"
                         ng-style="credentialsLoaded() === true && {'display': 'none'}"></div>
                </div>


            </div>
        </article>
    </section>
</div>
