
    <div class="fn-right">
        <div ng-if="pages.length >= 2">
            <ul class="pagination ui-grid-pages">
                <li ng-class="{'disable': currentPage === 1}">
                    <a ng-click="selectPage(1)" class="fa fa-angle-double-left"></a>
                </li>
                <li ng-class="{'disable': currentPage === 1}">
                    <a ng-click="selectPage(currentPage - 1)" class="fa fa-angle-left"></a>
                </li>
                <li>
                    <span class="count">{{currentPage}}/{{numPages}}</span>
                </li>
                <li ng-class="{'disable': currentPage === numPages}" >
                    <a ng-click="selectPage(currentPage + 1)" class="fa fa-angle-right"></a>
                </li>
                <li ng-class="{'disable': currentPage === numPages}">
                    <a ng-click="selectPage(numPages)" class="fa fa-angle-double-right"></a>
                </li>
                <li class="pageNumWrap">
                    <input type="text" style="height: 16px;" ng-model="customPage" class="ui-page-num">
                    <span type="button" class="ui-page-num-go" ng-click="selectPage(customPage)">Go</span>
                </li>
            </ul>

        </div>
