<md-dialog aria-label="New Uder">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-title">New account created</h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div class="md-dialog-content">
            <table style="text-align: left">
                <tr>
                    <th style="padding: 10px;">Username: </th>
                    <td>{{items.loginName}}</td>
                </tr>
                <tr>
                    <th style="padding: 10px;">Password: </th>
                    <td>{{items.password}}</td>
                </tr>
                <tr>
                    <th style="padding: 10px;">SSID: </th>
                    <td>{{items.ssid | ssidStringFromArray}}</td>
                </tr>
                <tr>
                    <th style="padding: 10px;">Start Time: </th>
                    <td>{{items.activeTime}}</td>
                </tr>
                <tr>
                    <th style="padding: 10px;">End Time: </th>
                    <td>{{items.expireTime}}</td>
                </tr>
                <tr>
                    <th style="padding: 10px;">Auth Type: </th>
                    <td>{{items.authType}}</td>
                </tr>
            </table>
            </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button  ng-click="close()">Close</md-button>
    </md-dialog-actions>
</md-dialog>

