body {
    background-color: #F5F5F5;
}

#main {
    padding-top: 80px;
    margin: 0 2%;
}

.clearfix {
    margin-top: 10px;
}

* {
    outline: none;
}

a.link, a.link:visited {
    color: rgb(102,187,106);
    text-decoration: none;
    font-weight: 500;
}

/*============================================== /
/ ================== ASIDE ==================== /
/ ============================================== */
aside {
    float: left;
    min-width: 250px;
    margin-right: 10px;
}
/*============================================== /
/ ================== SECTION ==================== /
/ ============================================== */
section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.right {
    margin-left: 10px;
}
.left {
    margin-right: 10px;
}
/*============================================== /
/ ================== ARTCILE ==================== /
/ ============================================== */
article > .inside{
    margin: 10px 0;
    background: white;
    display: inline-block;
    width: 100%;
}
article > .inside .title, md-toolbar {
    border-radius: 3px 3px 0 0;
}

article .title {
    background-color: rgb(30,136,229);
    padding: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
}




li {
    list-style: none;
}

.main-container {
    display: flex;
}

h3, .h3 {
    background-color: rgb(30,136,229);
    padding: 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    margin: 1px 0;
}


md-toolbar * {
    color: rgba(255,255,255,0.87) !important;
}

