body {
    background-color: #F5F5F5;
}
* {
    outline: none;
}
#main {
    padding-top: 80px;
    margin: 0 2%;
}

.clearfix {
    margin-top: 10px;
}
/*============================================== /
/ ================== NAV ==================== /
/ ============================================== */
nav {
    margin: 10px 0;
    background-color: #175797;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    text-align: center;
    height: 50px;
    border-radius: 4px;
}

nav .md-button {
   color: white !important;
}


/*============================================== /
/ ================== ASIDE ==================== /
/ ============================================== */
aside {
    float: left;
    min-width: 250px;
    margin-right: 10px;
}
/*============================================== /
/ ================== SECTION ==================== /
/ ============================================== */
section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.right {
    margin-left: 10px;
}
.left {
    margin-right: 10px;
}
/*============================================== /
/ ================== ARTCILE ==================== /
/ ============================================== */
article > .inside{
    margin: 10px 0;
    background: white;
    display: inline-block;
    width: 100%;
}
article > .inside .title {
    border-radius: 3px 3px 0 0;
}

article .title {
    background-color: #0085DC;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
}




li {
    list-style: none;
}

.main-container {
    display: flex;
}

h3, .h3 {
    background-color: #0085DC;
    padding: 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    margin: 1px 0;
}
