<div class="main-container">
    <aside>
        <article class="grid">
            <div class="inside" md-whiteframe="5">
                <div style='width:100%'>
                    <div class="title">
                        Filter By
                    </div>
                    <div>
                        <h3>User Type</h3>
                        <md-list>
                            <md-list-item ng-repeat="userType in userTypes">
                                <md-checkbox data-name={{userType.name}} ng-model="userType.selected"
                                             ng-change="change()" aria-label="Display/Hide User Type">
                                </md-checkbox>
                                <span class="lbl fn-ellipsis"
                                      title={{userType.name}}>{{userType.name | userType}}</span>
                            </md-list-item>
                        </md-list>

                        <h3>User Group</h3>

                        <md-list ng-show="userGroupsLoaded()">
                            <md-list-item ng-repeat="userGroup in userGroups | orderBy:'name'">

                                <md-checkbox data-name={{userGroup.name}} ng-model="userGroup.selected"
                                             ng-change="change()" aria-label="Select User Group">
                                </md-checkbox>
                                            <span class="lbl fn-ellipsis"
                                                  title={{userGroup.name}}>{{userGroup.name}}</span>

                            </md-list-item>
                        </md-list>
                        <div ng-show="!userGroupsLoaded()" style="padding: 0;">
                            <div layout="row" layout-align="space-around">
                                <md-progress-circular md-mode="indeterminate" class="md-accent"></md-progress-circular>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </article>
        <article>

        </article>
    </aside>
    <section>
        <article class="grid_100p">
            <md-content class="inside" md-whiteframe="5">
                <md-toolbar class="title" layout="row">
                    <span>Number of accounts: {{credentials.length}}</span>
                    <span flex></span>

                    <div class="md-toolbar-tools" id='table-search' ng-show="table.show">
                        <md-input-container md-no-float class="md-block" style="width: 100%">
                            <md-icon class="material-icons fa fa-search"></md-icon>
                            <input ng-model="table.filter" placeholder="Search">
                        </md-input-container>
                        <button class="md-icon-button md-button" type="button"
                                ng-click="removeFilter()" aria-label="close">
                            <md-icon class="fa fa-close fa-lg material-icons">
                                <md-tooltip md-direction="bottom">
                                    Close
                                </md-tooltip>
                            </md-icon>
                            <div class="md-ripple-container"></div>
                        </button>
                    </div>
                    <div class="md-toolbar-tools" ng-hide="table.show">
                        <div flex></div>
                        <button class="md-icon-button md-button" ng-click="table.show = true" aria-label="filter_list">
                            <md-icon class=" fa fa-search fa-lg material-icons">
                                <md-tooltip md-direction="bottom">
                                    Search
                                </md-tooltip>
                            </md-icon>
                            <div class="md-ripple-container"></div>
                        </button>
                        <md-button class="md-icon-button md-button" ng-controller="ModalCtrl" ng-click="open('export', {credentials: credentials, exportFields: exportFields})">
                            <md-icon class="fa fa-recycle fa-lg"></md-icon>
                            <md-tooltip md-direction="bottom">
                                Renew Selected Users
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-button"
                                   ng-click="deleteCredentials()">
                            <md-icon class="fa fa-user-times fa-lg"></md-icon>
                            <md-tooltip md-direction="bottom">
                                Remove Selected Users
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-button" ng-controller="ModalCtrl" ng-click="open('export', {credentials: credentials, exportFields: exportFields})">
                            <md-icon class="fa fa-upload fa-lg"></md-icon>
                            <md-tooltip md-direction="bottom">
                                Export Selected Users
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-button" ng-click="refresh()">
                            <md-icon class="fa fa-refresh fa-lg"></md-icon>
                            <md-tooltip md-direction="bottom">
                                Refresh List
                            </md-tooltip>
                        </md-button>
                    </div>
                </md-toolbar>


                <div ng-show="credentialsLoaded()"
                     style="background-color: rgb(76,175,80); height: 5px; width: 100%"></div>
                <md-progress-linear ng-show="!credentialsLoaded()" md-mode="indeterminate"
                                    class="md-accent"></md-progress-linear>
                <div class="clearfix">
                    <div style="position: relative; min-height: 150px;">
                        <div ng-show="!credentialsLoaded()"
                             style="position: absolute;height: 100%;width: 100%;background-color: rgba(250,250,250,0.7);vertical-align: middle;">
                        </div>


                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="table.order">
                                <tr md-row>
                                    <th md-column style="width: 5%">
                                        <div>
                                            <md-checkbox ng-change="selectAll()" ng-disabled="credentials.length <= 0"
                                                         ng-model="selectAllChecked" class="md-accent"
                                                         aria-label="Select All">
                                        </div>
                                    </th>
                                    <th md-column style="width: 20%" md-order-by='userName'>
                                        UserName
                                    </th>
                                    <th md-column style="width: 20%" md-order-by='email'>
                                        Email
                                    </th>
                                    <th md-column style="width: 20%" md-order-by='phone'>
                                        Phone
                                    </th>
                                    <th md-column style="width: 10%" md-order-by='groupName'>
                                        User Group
                                    </th>
                                    <th md-column style="width: 5%" md-order-by='credentialType'>
                                        Type
                                    </th>
                                    <th md-column style="width: 20%" md-order-by='expireTime'>
                                        Expiration Time
                                    </th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-class="{'tm-selected': credential.selected}"
                                    ng-click="selectOne(credential)"
                                    ng-repeat="credential in credentials | orderBy: table.order | limitTo: itemsByPage: (currentPage - 1) * itemsByPage">
                                    <td md-cell>
                                        <div>
                                            <md-checkbox ng-model="credential.selected" class="md-accent"
                                                         ng-click="selectOne(credential)" data-name={{credential.id}}
                                                         aria-label="Select Credential">
                                        </div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.userName}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.email}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.phone}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.groupName}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.credentialType | userType}}</div>
                                    </td>
                                    <td md-cell>
                                        <div>{{credential.expireTime | date : 'short' }}</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="itemsByPage" md-limit-options="[10, 20, 50, 100 ]"
                                             md-page="currentPage"
                                             md-total="{{devices.length}}"></md-table-pagination>
                    </div>
                    <div class="grid-mark"
                         ng-style="credentialsLoaded() === true && {'display': 'none'}"></div>
                </div>


            </md-content>
        </article>
    </section>
</div>
