<md-dialog aria-label="Export">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-title" translate="modal.export.export"></h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div class="md-dialog-content">

            <span translate="modal.export.fields"></span>
            <ul>
                <li ng-repeat="field in exportFields">
                    <label class="checkbox">
                        <input type="checkbox" data-name={{field.name}}
                               class="J-check-any" ng-model="field.selected"
                               ng-change="change()">
                        <span class="lbl fn-ellipsis" title={{field.name}}>{{field.display}}</span>
                    </label>

                </li>
            </ul>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" ng-click="close()" translate="button.close" aria-label="close"></md-button>
        <md-button class="md-primary md-raised " ng-csv="export()"
                   csv-header="getExportHeader()" filename="accounts.csv">{{'button.download' | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>

